@import "../../../../styles/variables/colors.module";


.videoPartContainer {
    margin-top: 80px;
    padding: 0 89px;
    max-width: 1040px; /* 100px margin on left and right */
    text-align: center;
    margin-bottom: 40px;
  }
  
  .videoContainer {
    position: relative;
    width: 100%;
    max-width: 100%;
    background: transparent;
    overflow: hidden;
    border-radius: 10px;
    aspect-ratio: 16 / 9; /* Maintain the same aspect ratio */
  }
  
  /* Ensure both the thumbnail and video take up the same space */
  .thumbnailOverlay,
  .videoPlayer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image fills without stretching */
    border-radius: 10px;
  }
  
  
  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
  }
  
  /* Style for the YouTube icon */
  .youtubeIcon {
    color: red; /* YouTube Red Color */
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
  }
  
  .playButton:hover .youtubeIcon {
    transform: scale(1.8); /* Slight zoom effect on hover */
  }
  
  .videoPlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
  }
  

  .linkToYoutube{
    margin-top: 40px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.02em;
    transform: scale(1);
    transition: ease transform 0.3s;

    svg{
        color: $orange-text-color;
        width: 22px;
        height: 22px;
    }

    .firstPart{
        font-weight: 600;
        color: $textColor;
    }

    .secondPart{
        color: $orange-text-color;
    }

    .youtubeLogo{
        height: 22px;
        width: 60px;
    transition: ease transform 0.3s;
        
    }

    &:hover{
        transform: scale(1.2);
        color: $orange-text-color;
        .youtubeLogo{
            transform: scale(1.2);
        }
    }
}



  @media (max-width: 800px) {
    .videoPartContainer{
        padding: 0 32px;
    }

    .linkToYoutube{

      svg{
        width: 22px;
        height: 22px;
      }
      .firstPart{
        font-size: 14px;
      }
      .secondPart{
        font-size: 14px;
      }
      .youtubeLogo{
        height: 20px;
        width: 46px;
      }
    }
  }

  @media (max-width: 480px) {
    .videoPartContainer{
        padding: 0 16px;
        margin-top: 60px;
    }

    .linkToYoutube{
  margin-top: 16px;
  
      svg{
          width: 18px;
          height: 18px;
      }
  
      .firstPart{
          font-size: 14px;
      }
  
      .secondPart{
font-size: 14px;
      }
  
      .youtubeLogo{
          height: 18px;
          width: 46px;
      transition: ease transform 0.3s;
          
      }
  
      &:hover{
          transform: scale(1.1);
          color: $orange-text-color;
          .youtubeLogo{
              transform: scale(1.1);
          }
      }
  }
  }

  @media (max-width: 400px) {
  
    .linkToYoutube{
  margin-top: 16px;
  
      svg{
          width: 14px;
          height: 14px;
      }
  
      .firstPart{
        font-size: 12px;
      }
  
      .secondPart{
        font-size: 12px;
      }
  
      .youtubeLogo{
          height: 14px;
          width: 30px;
      transition: ease transform 0.3s;
          
      }
  
      &:hover{
          transform: scale(1.06);
          color: $orange-text-color;
          .youtubeLogo{
              transform: scale(1.06);
          }
      }
  }
  }