
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


// FONT SIZE
$titleFontSize: clamp(16px, 5vw, 34px);
$usualFontSize: clamp(10px, 7vw, 16px);
$subtitleFontSize: clamp(24px, 5vw, 32px);

$decorativeFont:  "Cinzel Decorative", serif;
