@import "../../styles/variables/colors.module";
@import "../../styles/variables/fontFamily.module";


.imageContainer {
  position: relative;
  width: 100%;
  background-color: #171717;
  overflow: hidden;

  .image {
    width: calc(100% + 6px);
    height: 100%;
    right: 3px;
    object-fit: initial;
    z-index: 0;
    // background-color: #FFFCF8;
    position: relative;
  }

}

.footer {
  position: absolute;
  min-height: 172px;
  max-height: auto;
  bottom: 0; // Stick to the bottom of the image
  left: 50%; // Move to the center horizontally
  transform: translateX(-50%); // Adjust to perfectly center the container
  height: 100px;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;

  .footerContainer {
    display: flex;
    flex-direction: column;
    margin: 0 80px;

    .footerHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .logoPart {
        h5 {
          margin: 0;
          font-size: 16px;
          font-family: $decorativeFont;
          font-weight: bold;
          line-height: 150%;
          color: $orange-text-color;
          margin-bottom: 24px;
          cursor: pointer;
        }

        .websiteByContainer {
            display: flex;
            flex-direction: column;
          .websiteBy,
          .skillsUp {
            color: #ccc;
            font-size: 12px;
            font-weight: 400;
            letter-spacing: 0.02em;
            line-height: 140%;
          }

          .skillsUp{
            font-weight: 600;
            cursor: pointer;
          }

       
        }
      }

      .menuPart {
        min-width: 345px;
        max-width: 345px;
        display: flex;
        justify-content: space-between;

        .link {
          padding: 0;
          font-size: 16px;
          line-height: 140%;
          font-weight: 300;
          letter-spacing: 0.02em;
          color: $text-white-color;

        }
      }

      .socialPart {
        min-width: 120px;
        max-width: 120px;
        display: flex;
        align-items: start;
        justify-content: space-between;


      }
    }

    .footerMidline {
      height: 40px;
      width: 100%;
      border-bottom: 1px solid #323232;
    }

    .footerFooter {
      width: 100%;
      margin-top: 20px;
      align-items: start;

      p {
        color: $text-white-color;
        font-size: 12px;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }

  }
}


@media (max-width: 1100px) {
  .footerContainer {
    max-width: 940px !important;
  }
}

@media (max-width: 1000px) {
  .footer {
    position: relative;
    background: $black-color;
  }
  .footerContainer {
    max-width: 840px !important;
  }
}

@media (max-width: 900px) {
 

  .footerContainer {
    max-width: 700px !important;

    .footerHeader {
      .menuPart {
        min-width: 255px !important;
        max-width: 255px !important;
      }
    }
  }


}

@media (max-width: 760px) {

  .footer {
    min-height: auto;
    max-height: fit-content;
    height: auto;
    padding: 0 80px 0 32px;
  }

  .footerContainer {
    max-width: 600px !important;


    .footerHeader {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }
}

@media (max-width: 540px) {

  .footer {
    min-height: auto;
    max-height: fit-content;
    height: auto;
  }

  .footerContainer {
    max-width: 600px !important;


    .footerHeader {
      display: flex;
      flex-direction: column;
      gap: 50px;

      .menuPart {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }
  }
}

@media (max-width: 440px) {
  .footer {
    padding: 0 16px;
  }
}